<div>
  <div>
    <h2>
      Edit a Movie
    </h2>

    <form action="/movies/<%= @the_movie.id %>" method="post" data-turbo="false">
      <input type="hidden" name="_method" value="patch">
      <div>
        <label for="title_box">
          Title
        </label>

        <input type="text" id="title_box" name="query_title">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <textarea id="description_box" name="query_description" rows="3"></textarea>
      </div>

      <div>
        <input type="checkbox" id="released_box" name="query_released" value="1">

        <label for="released_box">Released</label>
      </div>

      <button>
        Edit movie
      </button>
    </form>
  </div>
</div>
